<a href="https://colab.research.google.com/github/bebeam2942/data_viz/blob/main/Function_Loop_Condition.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
name = 'ชลธิชา'
surname = 'ภูลคร'
ID = '613020548-7'

b = (f' ชื่อ {name} นามสกุล {surname} รหัสนักศึกษา {ID}')
print(b)

 ชื่อ ชลธิชา นามสกุล ภูลคร รหัสนักศึกษา 613020548-7

backtick ( ` ) ==> กด Alt + กด 9 ปล่อย แล้วกด 6 ###เป็นการไฮไลท์สีเทา  \
tide ( ~ ) \
curly bracket ({ }) \
square bracket ([])

## function มีส่วนสำคัญทั้งหมด 4 ส่วน

### ตัวอย่างการเขียน function

In [ ]:
def print_name(surname,ID,name):
    st =  f' ชื่อ {name}  นามสกุล  {surname}  รหัสนักศึกษา {ID}'
    return st

In [ ]:
print_name('ภูลคร','613020548-7','ชลธิชา')

' ชื่อ ชลธิชา  นามสกุล  ภูลคร  รหัสนักศึกษา 613020548-7'

In [ ]:
print(print_name(name='ชลธิชา',surname='ภูลคร',ID='613020548-7'))

 ชื่อ ชลธิชา  นามสกุล  ภูลคร  รหัสนักศึกษา 613020548-7

In [ ]:
def print_name2(surname,ID,name):
    st =  f' ชื่อ {name}  นามสกุล  {surname}  รหัสนักศึกษา {ID}'
    print(st)

In [ ]:
print_name2(name='ชลธิชา',surname='ภูลคร',ID='613020548-7')

 ชื่อ ชลธิชา  นามสกุล  ภูลคร  รหัสนักศึกษา 613020548-7

ฟังก์ชันไม่จำเป็นต้องมี input

In [ ]:
def Pi ():
      return 3.14159265359

In [ ]:
Pi()*(2**2) # หาพื้นที่ของวงกลมรัศมีเท่ากับ Pi * r^2

12.56637061436

เราสามารถกำหนดค่า drfauil ให้กันฟังก์ชั่นได้ (ค่าเริ่มต้น) 
 ###### เช่นค่าไม่ได้พิมอะไรลงไปในฟังก์ ฟังก์ชันที่ขึ้นค่าเริ่มต้นให้

In [1]:
def print_2lines_default(name,surname,ID,grade='F'):
    st = f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
    print (st)
    st2=f'เกรดวิชา Data Viz >>> {grade}'
    print(st2)

In [2]:
print_2lines_default('ชลธิชา','ภูลคร','613020548-7')

ชื่อ ชลธิชา นามสกุล ภูลคร รหัส 613020548-7
เกรดวิชา Data Viz >>> F

In [3]:
print_2lines_default('ชลธิชา','ภูลคร','613020548-7','A')

ชื่อ ชลธิชา นามสกุล ภูลคร รหัส 613020548-7
เกรดวิชา Data Viz >>> A