<a href="https://colab.research.google.com/github/bebeam2942/data_viz/blob/main/Function_Loop_Condition.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
name = 'ชลธิชา'
surname = 'ภูลคร'
ID = '613020548-7'

b = (f' ชื่อ {name} นามสกุล {surname} รหัสนักศึกษา {ID}')
print(b)

 ชื่อ ชลธิชา นามสกุล ภูลคร รหัสนักศึกษา 613020548-7

backtick ( ` ) ==> กด Alt + กด 9 ปล่อย แล้วกด 6 ###เป็นการไฮไลท์สีเทา  \
tide ( ~ ) \
curly bracket ({ }) \
square bracket ([])

## function มีส่วนสำคัญทั้งหมด 4 ส่วน

### ตัวอย่างการเขียน function

In [ ]:
def print_name(surname,ID,name):
    st =  f' ชื่อ {name}  นามสกุล  {surname}  รหัสนักศึกษา {ID}'
    return st

In [ ]:
print_name('ภูลคร','613020548-7','ชลธิชา')

' ชื่อ ชลธิชา  นามสกุล  ภูลคร  รหัสนักศึกษา 613020548-7'

In [ ]:
print(print_name(name='ชลธิชา',surname='ภูลคร',ID='613020548-7'))

 ชื่อ ชลธิชา  นามสกุล  ภูลคร  รหัสนักศึกษา 613020548-7

In [ ]:
def print_name2(surname,ID,name):
    st =  f' ชื่อ {name}  นามสกุล  {surname}  รหัสนักศึกษา {ID}'
    print(st)

In [ ]:
print_name2(name='ชลธิชา',surname='ภูลคร',ID='613020548-7')

 ชื่อ ชลธิชา  นามสกุล  ภูลคร  รหัสนักศึกษา 613020548-7

ฟังก์ชันไม่จำเป็นต้องมี input

In [ ]:
def Pi ():
      return 3.14159265359

In [ ]:
Pi()*(2**2) # หาพื้นที่ของวงกลมรัศมีเท่ากับ Pi * r^2

12.56637061436

เราสามารถกำหนดค่า drfauil ให้กันฟังก์ชั่นได้ (ค่าเริ่มต้น) 
 ###### เช่นค่าไม่ได้พิมอะไรลงไปในฟังก์ ฟังก์ชันที่ขึ้นค่าเริ่มต้นให้

In [ ]:
def print_2lines_default(name,surname,ID,grade='F'):
    st = f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
    print (st)
    st2=f'เกรดวิชา Data Viz >>> {grade}'
    print(st2)

In [ ]:
print_2lines_default('ชลธิชา','ภูลคร','613020548-7')

ชื่อ ชลธิชา นามสกุล ภูลคร รหัส 613020548-7
เกรดวิชา Data Viz >>> F

In [ ]:
print_2lines_default('ชลธิชา','ภูลคร','613020548-7','A')

ชื่อ ชลธิชา นามสกุล ภูลคร รหัส 613020548-7
เกรดวิชา Data Viz >>> A

# LOOP การวนซ้ำ

for เป็นคำที่ใช้บอก python ว่าเรากำลังเขียน loop โดย for จะวนดึงสมาชิกจาก listA มาทำ process do_something

In [5]:
for i in [1,2,3] :
    o = i**2
    print (f'this member = {i} after process = {o}')

this member = 1 after process = 1
this member = 2 after process = 4
this member = 3 after process = 9

ตัวอย่างการใช้คำสั่ง for ในการวนซ้ำค่าของ i เมื่อ i คือ 'Thanapong' และคำสั่ง print(f'{i} -> /') เพื่อกำหนดให้ผลลัพธ์แสดงสัญลักษณ์ -> / จากนั้นเพิ่มคำสั่ง print(' ') อีกครั้งเพื่อให้ผลลัพธ์มีการเว้นวรรค¶

In [6]:
for i in 'Chonticha':
    print(f'{i} -> / ' )

C -> /
h -> /
o -> /
n -> /
t -> /
i -> /
c -> /
h -> /
a -> /

In [7]:
for i in 'Chonticha':
    print(f'{i} -> / ' ,end = '') #สั่งให้ print แบบ ไม่เว้นบรรทัด

C -> / h -> / o -> / n -> / t -> / i -> / c -> / h -> / a -> /

In [8]:
for i in 'Chonticha':
    print(f'{i} -> / ' ,end = ',') #สั่งให้ print แบบ ไม่เว้นบรรทัด

C -> / ,h -> / ,o -> / ,n -> / ,t -> / ,i -> / ,c -> / ,h -> / ,a -> / ,

สร้าง list ตัวเลขแบบอัตโนมัติ range()

In [9]:
range5_output = range(5)
print(list(range5_output))

[0, 1, 2, 3, 4]

In [10]:
for i in range(100):
    print('งง',end=' ')

งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง

In [11]:
list(range(1,11)) #เริ่มต้นเป็นวงทึบ จบเป็นวงกลมโปร่ง เหมือน list slicing

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [12]:
list(range(-3,20,4))

[-3, 1, 5, 9, 13, 17]

### loop in loop

สามารถใช้ for loop ซ้อนกันสองรอบได้

In [13]:
for name1 in  range(2,5): #(2, 3, 4)
    print(f'now name1 = {name1}')
    for name2 in  range(1,13):
        print(name1,' x ',name2,' = ',name1*name2)
    print('the inner loop is end')

now name1 = 2
2  x  1  =  2
2  x  2  =  4
2  x  3  =  6
2  x  4  =  8
2  x  5  =  10
2  x  6  =  12
2  x  7  =  14
2  x  8  =  16
2  x  9  =  18
2  x  10  =  20
2  x  11  =  22
2  x  12  =  24
the inner loop is end
now name1 = 3
3  x  1  =  3
3  x  2  =  6
3  x  3  =  9
3  x  4  =  12
3  x  5  =  15
3  x  6  =  18
3  x  7  =  21
3  x  8  =  24
3  x  9  =  27
3  x  10  =  30
3  x  11  =  33
3  x  12  =  36
the inner loop is end
now name1 = 4
4  x  1  =  4
4  x  2  =  8
4  x  3  =  12
4  x  4  =  16
4  x  5  =  20
4  x  6  =  24
4  x  7  =  28
4  x  8  =  32
4  x  9  =  36
4  x  10  =  40
4  x  11  =  44
4  x  12  =  48
the inner loop is end

### loop in function
การวนลูปในฟังก์ชั่น¶

In [14]:
def print_feelings(I,friendS,feeling = 'คิดถึง'):
    for friend in friendS:
        print(f'{I} {feeling} {friend}')

In [16]:
list_friends = ['หมู','หมา','กา','ไก่']

In [17]:
print_feelings('บีม',list_friends)

บีม คิดถึง หมู
บีม คิดถึง หมา
บีม คิดถึง กา
บีม คิดถึง ไก่

In [18]:

print_feelings('บีม',list_friends,feeling='รัก')

บีม รัก หมู
บีม รัก หมา
บีม รัก กา
บีม รัก ไก่

conditional คือ เงื่อนไข /ประโยคเงื่อนไข
True / False
การวนลูปโดยมีเงื่อนไขต่างๆมาเกี่ยวข้อง โดยมี pattern ดังนี้

In [19]:
print(list_friends)

['หมู', 'หมา', 'กา', 'ไก่']

In [20]:
for name1 in list_friends :
    for name2 in list_friends :
            print(name1,'รัก',name2)

หมู รัก หมู
หมู รัก หมา
หมู รัก กา
หมู รัก ไก่
หมา รัก หมู
หมา รัก หมา
หมา รัก กา
หมา รัก ไก่
กา รัก หมู
กา รัก หมา
กา รัก กา
กา รัก ไก่
ไก่ รัก หมู
ไก่ รัก หมา
ไก่ รัก กา
ไก่ รัก ไก่

In [21]:
for name1 in list_friends:
    for name2 in list_friends:
        if name1 == name2: #ปริ้นชื่อคนเดียวกันซ้ำ
            print(name1,'รัก',name2)

หมู รัก หมู
หมา รัก หมา
กา รัก กา
ไก่ รัก ไก่

In [22]:

for name1 in list_friends:
    for name2 in list_friends:
        if name1 == name2: 
            'do nothing'
        else:
            print(name1,'รัก',name2)

หมู รัก หมา
หมู รัก กา
หมู รัก ไก่
หมา รัก หมู
หมา รัก กา
หมา รัก ไก่
กา รัก หมู
กา รัก หมา
กา รัก ไก่
ไก่ รัก หมู
ไก่ รัก หมา
ไก่ รัก กา

==, !=,>=,<=,<,>

In [23]:
'A' == 'B'

False

In [24]:
'A' != 'B'

True

หากหลังเงื่อนไข True ถูกต้องจะทำการ print ข้อความออกมาว่า Yes

In [25]:
if True:
    print('Yes')

Yes

In [26]:
if False:
    print('No')

หากหลังเงื่อนไข False ไม่ถูกต้องจะไม่ปริ้นข้อความใดๆออกมา
ซึ่งจะต้องใช้เงื่อนไขนี้ จึงจะได้ปริ้นค่าเงื่อนไขนั้นออกมา ดังนี้

In [27]:
if False:
    print('Yes')
else:
    print('No')

No

#HW
เขียน function ตัดเกรด โดยที่ iputเป็นคะแนน(0-100) ,output เป็นเกรด (F-A)
วนลูป input [1,50,65,90,101,-5,49]

กำหนด

  ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ  0  แต่น้อยกว่า 50 จะได้เกรด F 

  ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 50 แต่น้อยกว่า 55 จะได้เกรด D
  
  ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 55 แต่น้อยกว่า 60 จะได้เกรด D+
  
  ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 60 แต่น้อยกว่า 65 จะได้เกรด C
  
  ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 65 แต่น้อยกว่า 70 จะได้เกรด C+
  
  ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 70 แต่น้อยกว่า 75 จะได้เกรด B
  
  ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 75 แต่น้อยกว่า 80 จะได้เกรด B+
  
  ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 80  จะได้เกรด A
  
  แต่ว่าค่าคะแนนจะต้องไม่ต่ำกว่า 0 และมากกว่า 100 ไม่งั้นจะเกิด error

In [2]:
def Grade(point) :
      if point<0 :
         print(f' คะแนนเท่ากับ {point}  error')
      elif 0 <= point < 50 :
         print(f' คะแนนเท่ากับ {point} จะได้เกรด F ')
      elif 50 <= point < 55 :
         print(f' คะแนนเท่ากับ {point} จะได้เกรด D ')
      elif 55 <= point < 60 :
         print(f' คะแนนเท่ากับ {point} จะได้เกรด D+ ')
      elif 60 <= point < 65 :
         print(f' คะแนนเท่ากับ {point} จะได้เกรด C ')
      elif 65 <= point < 70 :
         print(f' คะแนนเท่ากับ {point} จะได้เกรด C+ ')
      elif 70 <= point < 75 :
         print(f' คะแนนเท่ากับ {point} จะได้เกรด B ')
      elif 75 <= point < 80 :
         print(f' คะแนนเท่ากับ {point} จะได้เกรด B+ ')
      elif 80 <= point <101 :
         print(f' คะแนนเท่ากับ {point} จะได้เกรด A ')
      elif  point > 100 :
         print(f' คะแนนเท่ากับ {point}  error ')

In [3]:
list_Grade = [1,50,65,90,101,-5,49]

In [4]:
for i in list_Grade : 
     Grade(i)

 คะแนนเท่ากับ 1 จะได้เกรด F
 คะแนนเท่ากับ 50 จะได้เกรด D
 คะแนนเท่ากับ 65 จะได้เกรด C+
 คะแนนเท่ากับ 90 จะได้เกรด A
 คะแนนเท่ากับ 101  error
 คะแนนเท่ากับ -5  error
 คะแนนเท่ากับ 49 จะได้เกรด F