<a href="https://colab.research.google.com/github/bebeam2942/data_viz/blob/main/Grade.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [26]:
import pandas as pd

In [8]:
def part2(score):
      SC = (score*30)/70
     return SC

In [25]:
list_A = [67,64,67,67,61]
B = []
for i in list_A :
     A = part2(i)
     B.append(round(A,2))
print(B)

[28.71, 27.43, 28.71, 28.71, 26.14]

In [32]:
df = pd.DataFrame(B,columns=['score'])
df

   score
0  28.71
1  27.43
2  28.71
3  28.71
4  26.14