<a href="https://colab.research.google.com/github/bebeam2942/data_viz/blob/main/Pandas_101.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
from google.colab import  drive
drive.mount('/content/drive')

Mounted at /content/drive

In [8]:
import os #เป็นการทำงานเกี่ยวดับไฟล์เอาไว้ชี้ไฟล์

path = '/content/drive/My Drive/dataviz_2021_data'

In [9]:
covid_file_path = os.path.join(path,'pm-18-jan-2021.csv')
print(covid_file_path)

/content/drive/My Drive/dataviz_2021_data/pm-18-jan-2021.csv

In [10]:
a = path + '/pm-18-jan-2021.csv'
print(a)

/content/drive/My Drive/dataviz_2021_data/pm-18-jan-2021.csv

## load data to memory

In [11]:
data_covid = pd.read_csv(covid_file_path)
data_covid

         No.  ...                                         risk
0          1  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
1          2  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
2          3  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
3          4  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
4          5  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
...      ...  ...                                          ...
12418  12419  ...                                  สถานบันเทิง
12419  12420  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12420  12421  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12421  12422  ...                  Cluster ชลบุรี โรงเบียร์ 90
12422  12423  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้

[12423 rows x 10 columns]

In [12]:
 data_covid.shape      #อยากรู้ขนาดของตาราง

(12423, 10)

## ชี้ค่าในตาราง

#### dasic

In [13]:
data_covid['province_of_onset']

0        กรุงเทพมหานคร
1        กรุงเทพมหานคร
2               นครปฐม
3        กรุงเทพมหานคร
4        กรุงเทพมหานคร
             ...
12418      สมุทรปราการ
12419      สมุทรปราการ
12420           ชลบุรี
12421           ชลบุรี
12422            ระยอง
Name: province_of_onset, Length: 12423, dtype: object

In [14]:
data_covid['province_of_onset'][4] ## ชี้ไปที่ข้อมูลแถวที่ 5

'กรุงเทพมหานคร'

#### .iloc

In [15]:
data_covid.iloc[4,7] #ชี้แถวที่4หลักที่7

'กรุงเทพมหานคร'

## Table slicing

#### ตัดมาเฉพาะ column ที่ต้องการ

In [16]:
smaller_table = data_covid[['announce_date','province_of_onset','risk']]
smaller_table

      announce_date  ...                                         risk
0         1/12/2020  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
1         1/17/2020  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
2         1/22/2020  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
3         1/22/2020  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
4         1/24/2020  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
...             ...  ...                                          ...
12418     1/18/2021  ...                                  สถานบันเทิง
12419     1/18/2021  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12420     1/18/2021  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12421     1/18/2021  ...                  Cluster ชลบุรี โรงเบียร์ 90
12422     1/18/2021  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้

[12423 rows x 3 columns]

### ตัดเฉพาะ rows ที่ต้องการ

##### แบบง่าย แต่ใช้การไม่ค่อยจะได้

In [17]:
data_covid.iloc[1:5,:]

   No. announce_date  ... district_of_onset                              risk
1    2     1/17/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
2    3     1/22/2020  ...             เมือง  คนต่างชาติเดินทางมาจากต่างประเทศ
3    4     1/22/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
4    5     1/24/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ

[4 rows x 10 columns]

แบบ advancd แต่ใช้ประโยชน์ได้เยอะกว่า (ตัดแบบใช้ logic guery)

In [18]:
data_covid_KK = data_covid[data_covid['province_of_onset']=='ขอนแก่น']

data_covid [x] ค่า x สามารถมีค่าที่ใส่เข้าไปได้ 2 แบบ



1.   ชื่อ column
2.   ใส่ rows ที่ต้องการ (ใส่ list ที่มีขนาดเท่ากับจำนวนแถว แล้วบอกว่าเอาแถวไหนบ้างโดยใช้ logical expression (True/False))

In [19]:
eigth_rows_covid = data_covid.iloc[:8,:] #ตารางตัวอย่าง
eigth_rows_covid

   No. announce_date  ... district_of_onset                              risk
0    1     1/12/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
1    2     1/17/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
2    3     1/22/2020  ...             เมือง  คนต่างชาติเดินทางมาจากต่างประเทศ
3    4     1/22/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
4    5     1/24/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
5    6     1/25/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
6    7     1/26/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
7    8     1/26/2020  ...            หัวหิน  คนต่างชาติเดินทางมาจากต่างประเทศ

[8 rows x 10 columns]

In [20]:
eigth_rows_covid [[True,False,True,True,False,True,False,False]] #2.   ใส่ rows ที่ต้องการ

   No. announce_date  ... district_of_onset                              risk
0    1     1/12/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
2    3     1/22/2020  ...             เมือง  คนต่างชาติเดินทางมาจากต่างประเทศ
3    4     1/22/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
5    6     1/25/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ

[4 rows x 10 columns]

In [21]:
eigth_rows_covid['province_of_onset'] == 'กรุงเทพมหานคร' #สร้าง list ของ logical expression ดูค่าที่ต้องการในหลักที่ต้องการ

0     True
1     True
2    False
3     True
4     True
5     True
6     True
7    False
Name: province_of_onset, dtype: bool

In [22]:
eigth_rows_covid[eigth_rows_covid['province_of_onset'] == 'กรุงเทพมหานคร' ] #เราเอา 2 บรรทัดบนมาบวกกัน

   No. announce_date  ... district_of_onset                              risk
0    1     1/12/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
1    2     1/17/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
3    4     1/22/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
4    5     1/24/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
5    6     1/25/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
6    7     1/26/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ

[6 rows x 10 columns]

HW (ให้ใช้เฉพาะที่อาจารย์สอนในวิชานี้)
1.  คำนวณ อายุเฉลี่ย ของผู้หญิง และผู้ชาย ของข้อมูลทั้งหมด
2.  คำนวณ อายุเฉลี่ย ของผู้หญิง และผู้ชาย ของผู้ป่วยในจังหวัดขอนแก่น

3. หาจำนวนผู้ป่วยที่เป็นคน 'คนต่างชาติเดินทางมาจากต่างประเทศ'

## 1. คำนวณ อายุเฉลี่ย ของผู้หญิง และผู้ชาย ของข้อมูลทั้งหมด

In [ ]:
avg_all = data_covid[['sex','age']]

In [ ]:
avg_all_w = avg_all[avg_all['sex'] == 'หญิง']
avg_all_w_age = avg_all_w[['age']]
avg_all_w_age_dp = avg_all_w_age.dropna()
avg_all_w_age_dp_v = avg_all_w_age_dp.values

In [ ]:
avg_all_m = avg_all[avg_all['sex'] == 'ชาย']
avg_all_m_age = avg_all_m[['age']]
avg_all_m_age_dp = avg_all_m_age.dropna()
avg_all_m_age_dp_v = avg_all_m_age_dp.values

In [ ]:
answerforwo_all = []
for i in avg_all_w_age_dp_v :
      data = float(i)
      answerforwo_all.append(data)

In [ ]:
answerform_all = []
for i in avg_all_m_age_dp_v :
      data = float(i)
      answerform_all.append(data)

In [ ]:
def my_mean(sample):
    return sum(sample) / len(sample)

In [ ]:
ans1_1 = my_mean(answerforwo_all)
ans1_2 = my_mean(answerform_all)

In [ ]:
print(f'อายุเฉลี่ยของเพศหญิงทั่วประเทศที่ติดCovid-19 เท่ากับ {ans1_1}')
print(f'อายุเฉลี่ยของเพศชายทั่วประเทศที่ติดCovid-19 เท่ากับ {ans1_2}')

อายุเฉลี่ยของเพศหญิงทั่วประเทศที่ติดCovid-19 เท่ากับ 36.70788295640009
อายุเฉลี่ยของเพศชายทั่วประเทศที่ติดCovid-19 เท่ากับ 39.55682775996335

## 2.คำนวณ อายุเฉลี่ยของผู้ป่วยในจังหวัดขอนแก่น

In [ ]:
avg_KK = data_covid_KK[['sex','age']]

In [ ]:
avg_KK_w = avg_KK[avg_KK['sex'] == 'หญิง']
avg_KK_w_age = avg_KK_w[['age']]
avg_KK_w_v = avg_KK_w_age.values

In [ ]:
avg_KK_m = avg_KK[avg_KK['sex'] == 'ชาย']
avg_KK_m_age = avg_KK_m[['age']]
avg_KK_m_v = avg_KK_m_age.values

In [ ]:
answerfor_wo = []
for i in avg_KK_w_v:
      data = float(i)
      answerfor_wo.append(data)

In [ ]:
answerfor_men = []
for i in avg_KK_m_v:
      data = float(i)
      answerfor_men.append(data)

In [ ]:
ans2_1 = my_mean(answerfor_wo)
ans2_2 = my_mean(answerfor_men)

In [ ]:
print(f'อายุเฉลี่ยของเพศหญิงจังหวัดขอนแก่นที่ติดCovid-19 เท่ากับ {ans2_1}')
print(f'อายุเฉลี่ยของเพศชายจังหวัดขอนแก่นที่ติดCovid-19 เท่ากับ {ans2_2}')

อายุเฉลี่ยของเพศหญิงจังหวัดขอนแก่นที่ติดCovid-19 เท่ากับ 41.57142857142857
อายุเฉลี่ยของเพศชายจังหวัดขอนแก่นที่ติดCovid-19 เท่ากับ 26.571428571428573

## เฉลยการบ้าน

In [23]:
this_data = data_covid[['sex','age','province_of_onset']]

In [24]:
this_data

        sex   age province_of_onset
0      หญิง  61.0     กรุงเทพมหานคร
1      หญิง  74.0     กรุงเทพมหานคร
2      หญิง  73.0            นครปฐม
3       ชาย  68.0     กรุงเทพมหานคร
4      หญิง  66.0     กรุงเทพมหานคร
...     ...   ...               ...
12418  หญิง  28.0       สมุทรปราการ
12419  หญิง  27.0       สมุทรปราการ
12420   ชาย  10.0            ชลบุรี
12421   ชาย  52.0            ชลบุรี
12422   ชาย  51.0             ระยอง

[12423 rows x 3 columns]

In [28]:
female = this_data[this_data['sex']=='หญิง']
female['age']

0        61.0
1        74.0
2        73.0
4        66.0
5        33.0
         ...
12413    16.0
12416    36.0
12417    29.0
12418    28.0
12419    27.0
Name: age, Length: 5199, dtype: float64

In [29]:
sum = 0
N = 0
for a in female['age']:

      if a > 0:
          sum += a #sum=sum+a
          N += 1

print(sum/N)

36.70788295640009

การจัดการ Missing Value

การวนลูป record ในตาราง
- ลบ record ที่เป็น missing
- แทนที่ ค่า missing ด้วยค่าที่เหมาะสม mean, default , category-unknow
- ใช้ ค่าจาก columns อื่นๆ ช่วยประมาณค่า ค่าใน colum ที่หายไป (regression, deep learning, etc.)

### ลบ record (drop_na)

missing = ````None```` ````NA````(not autorized)```` NaN ````(not a number)````

In [30]:
this_data.shape #(12423,3)

(12423, 3)

In [32]:
print(data_covid.shape)
print(data_covid.dropna().shape)

(12423, 10)
(6430, 10)

In [33]:
this_data.dropna().shape

(8253, 3)

In [34]:
this_data.dropna()
print(this_data.shape)

(12423, 3)

In [35]:
this_data.dropna(inplace=True) #inplace คือการเข้าไปอัพเดทค่าในตารางให้ใหม่

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [36]:
this_data.dropna(inplace=True)
print(this_data.shape)

(8253, 3)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [37]:
this_data = data_covid[['sex','age','province_of_onset']]
this_data.shape

(12423, 3)

In [38]:
this_data.dropna(subset=['age']).shape

(8656, 3)

แทน missing ด้วยค่าที่เหมาะสม (````fillna````)

In [39]:
this_data.head()

    sex   age province_of_onset
0  หญิง  61.0     กรุงเทพมหานคร
1  หญิง  74.0     กรุงเทพมหานคร
2  หญิง  73.0            นครปฐม
3   ชาย  68.0     กรุงเทพมหานคร
4  หญิง  66.0     กรุงเทพมหานคร

In [43]:
print(f' จำนวน record ก่อน drop missing ใน provience {this_data.shape[0]}')
print(f"จำนวน record ก่อน drop missing ใน provience {this_data.dropna(subset=['province_of_onset']).shape[0]}")

 จำนวน record ก่อน drop missing ใน provience 12423
จำนวน record ก่อน drop missing ใน provience 10432

In [44]:
this_data_updated = this_data.fillna(value={'sex': 'ไม่รู้', 'age' : -1, 'province_of_onset': 'ไม่รู้'})
this_data_updated

        sex   age province_of_onset
0      หญิง  61.0     กรุงเทพมหานคร
1      หญิง  74.0     กรุงเทพมหานคร
2      หญิง  73.0            นครปฐม
3       ชาย  68.0     กรุงเทพมหานคร
4      หญิง  66.0     กรุงเทพมหานคร
...     ...   ...               ...
12418  หญิง  28.0       สมุทรปราการ
12419  หญิง  27.0       สมุทรปราการ
12420   ชาย  10.0            ชลบุรี
12421   ชาย  52.0            ชลบุรี
12422   ชาย  51.0             ระยอง

[12423 rows x 3 columns]

In [45]:
this_data_updated[this_data_updated['sex']=='ไม่รู้']

          sex  age province_of_onset
4391   ไม่รู้ -1.0         สมุทรสาคร
4392   ไม่รู้ -1.0         สมุทรสาคร
4393   ไม่รู้ -1.0         สมุทรสาคร
4394   ไม่รู้ -1.0         สมุทรสาคร
4395   ไม่รู้ -1.0         สมุทรสาคร
...       ...  ...               ...
12405  ไม่รู้ -1.0            ไม่รู้
12406  ไม่รู้ -1.0            ไม่รู้
12407  ไม่รู้ -1.0            ไม่รู้
12408  ไม่รู้ -1.0            ไม่รู้
12409  ไม่รู้ -1.0            ไม่รู้

[2497 rows x 3 columns]

In [47]:
data_covid[this_data_updated['province_of_onset']=='ไม่รู้']

         No.  ...                                         risk
414      415  ...                                      สนามมวย
529      530  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
555      556  ...                                      สนามมวย
576      577  ...                                      สนามมวย
588      589  ...                         อยู่ระหว่างการสอบสวน
...      ...  ...                                          ...
12405  12406  ...                            Cluster สมุทรสาคร
12406  12407  ...                            Cluster สมุทรสาคร
12407  12408  ...                            Cluster สมุทรสาคร
12408  12409  ...                            Cluster สมุทรสาคร
12409  12410  ...                            Cluster สมุทรสาคร

[1991 rows x 10 columns]

In [49]:
this_data_updated2 =  this_data.fillna(value={'sex': 'ไม่รู้', 'age' : -1, 'province_of_onset': 'ไม่รู้'})

In [50]:
this_data_updated2[this_data_updated['province_of_onset']=='ไม่รู้']

          sex   age province_of_onset
414       ชาย  29.0            ไม่รู้
529       ชาย  37.0            ไม่รู้
555      หญิง   6.0            ไม่รู้
576       ชาย  -1.0            ไม่รู้
588       ชาย  -1.0            ไม่รู้
...       ...   ...               ...
12405  ไม่รู้  -1.0            ไม่รู้
12406  ไม่รู้  -1.0            ไม่รู้
12407  ไม่รู้  -1.0            ไม่รู้
12408  ไม่รู้  -1.0            ไม่รู้
12409  ไม่รู้  -1.0            ไม่รู้

[1991 rows x 3 columns]

การวนลูป record ในตาราง ````(iterrows)````

In [52]:
for each_row in this_data.iterrows():
    #  print(each_row)
     # print(each_row[1])
      if (each_row[1] ['age'] == 20) and (each_row[1]['province_of_onset'] == 'ขอนแก่น') :
          print(each_row)

(9334, sex                      ชาย
age                       20
province_of_onset    ขอนแก่น
Name: 9334, dtype: object)