<a href="https://colab.research.google.com/github/bebeam2942/data_viz/blob/main/Pandasss.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
PATH_FILE = "/content/sample_data/california_housing_train.csv"
df_house = pd.read_csv(PATH_FILE) #้เป็นการอ่านdataที่เป็นตาราง แต่ละcolumnจะถูกแบ่งด้วย ,

In [3]:
type(df_house)

pandas.core.frame.DataFrame

In [4]:
df_house.shape #จะบอกจำนวนแถวกับหลัก

(17000, 9)

In [5]:
df_house.columns #จะบอกว่าcolumns มีอะไรบ้าง

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value'],
      dtype='object')

In [6]:
df_house[0:4] #เป็นการเลือกว่าจะเอาindexที่เท่าไหร่ อันนี้คือ 0 ถึง 3 หรือถึง n-1

   longitude  latitude  ...  median_income  median_house_value
0    -114.31     34.19  ...         1.4936             66900.0
1    -114.47     34.40  ...         1.8200             80100.0
2    -114.56     33.69  ...         1.6509             85700.0
3    -114.57     33.64  ...         3.1917             73400.0

[4 rows x 9 columns]

In [9]:
df_house[0:5][["longitude"]] #อยากได้แถม longitude indexที่0ถึง4

   longitude
0    -114.31
1    -114.47
2    -114.56
3    -114.57
4    -114.57

In [10]:
df_house[0:5][["longitude","total_rooms"]]

   longitude  total_rooms
0    -114.31       5612.0
1    -114.47       7650.0
2    -114.56        720.0
3    -114.57       1501.0
4    -114.57       1454.0

In [12]:
df_house["population"] > 1000 #ก้ามปู 1 ชั้นจะ Return ค่าออกมาเป็น series 
                                              #ถ้าค่าที่มากกว่า1000 จะกลายเป็น True ถ้าน้อยกว่าหรือเท่ากับจะเป็น False

0         True
1         True
2        False
3        False
4        False
         ...
16995    False
16996     True
16997     True
16998     True
16999    False
Name: population, Length: 17000, dtype: bool

In [14]:
df_house[df_house["population"] > 1000 ] #การหามาเฉพาะค่าจะ population มากกว่า 1000

       longitude  latitude  ...  median_income  median_house_value
0        -114.31     34.19  ...         1.4936             66900.0
1        -114.47     34.40  ...         1.8200             80100.0
6        -114.58     33.61  ...         2.6768             82400.0
8        -114.59     33.61  ...         2.1782             58400.0
10       -114.60     33.62  ...         2.6797             86500.0
...          ...       ...  ...            ...                 ...
16991    -124.23     41.75  ...         2.4805             73200.0
16993    -124.23     40.54  ...         3.0806            106700.0
16996    -124.27     40.69  ...         2.5179             79000.0
16997    -124.30     41.84  ...         3.0313            103600.0
16998    -124.30     41.80  ...         1.9797             85800.0

[10299 rows x 9 columns]

In [15]:
df_house[(df_house["population"] > 1000) & (df_house["total_rooms"] >= 5000) ] #ใช้() ในการแยก condition #ใช้ & เอาค่านี้และนี้ and

       longitude  latitude  ...  median_income  median_house_value
0        -114.31     34.19  ...         1.4936             66900.0
1        -114.47     34.40  ...         1.8200             80100.0
133      -116.06     34.15  ...         2.2466             66800.0
135      -116.09     34.15  ...         2.6111             65600.0
167      -116.24     33.72  ...         3.7750             93400.0
...          ...       ...  ...            ...                 ...
16706    -122.83     38.58  ...         3.2452            168800.0
16824    -123.22     39.28  ...         3.1455            142900.0
16838    -123.34     39.10  ...         3.0652            131100.0
16859    -123.59     38.80  ...         3.1201            176100.0
16986    -124.19     40.73  ...         3.5363             90100.0

[1438 rows x 9 columns]

In [16]:
df_house[(df_house["population"] > 1000) & (df_house["total_rooms"] >= 5000) ].shape

(1438, 9)

In [17]:
df_house[(df_house["population"] > 1000) & (df_house["total_rooms"] == 5000) ].shape # เท่ากับ ==

(0, 9)

In [18]:
df_house[(df_house["population"] > 1000) & (df_house["total_rooms"] != 5000) ].shape # != ไม่เท่ากับ

(10299, 9)

In [19]:
condition_1 = (df_house["population"] > 1000)
condition_2 = (df_house["total_rooms"] == 5000)
condition_3 = (df_house["households"] <= 500)

df_house[condition_1 & condition_2 & condition_3] #รวม condition ที่ต้องการ

Empty DataFrame
Columns: [longitude, latitude, housing_median_age, total_rooms, total_bedrooms, population, households, median_income, median_house_value]
Index: []

In [20]:
df_house[:3]

   longitude  latitude  ...  median_income  median_house_value
0    -114.31     34.19  ...         1.4936             66900.0
1    -114.47     34.40  ...         1.8200             80100.0
2    -114.56     33.69  ...         1.6509             85700.0

[3 rows x 9 columns]

# Data Types


1.  Nemerical Data : สามารถนำค่ามา plot ได้
2.  Categorical Data : เป็นข้อมูลที่ทำมาเปรียบเทียบกันได้ เช่น จังหวัดไหนมีค่ามากกว่ากัน
3. Spatial Data : บอกว่าค่าแต่ละค่าตัดกันที่ไหน

In [21]:
df_house.describe() #บอกค่าทางสถิติ

          longitude      latitude  ...  median_income  median_house_value
count  17000.000000  17000.000000  ...   17000.000000        17000.000000
mean    -119.562108     35.625225  ...       3.883578       207300.912353
std        2.005166      2.137340  ...       1.908157       115983.764387
min     -124.350000     32.540000  ...       0.499900        14999.000000
25%     -121.790000     33.930000  ...       2.566375       119400.000000
50%     -118.490000     34.250000  ...       3.544600       180400.000000
75%     -118.000000     37.720000  ...       4.767000       265000.000000
max     -114.310000     41.950000  ...      15.000100       500001.000000

[8 rows x 9 columns]

In [22]:
len(df_house.columns) #len จะมันจำนวนที่อยู่ในlist

9

In [23]:
df_house['all_rooms'] = df_house["total_rooms"] +  df_house["total_bedrooms"] #สร้างตัวแปรใหม่เพิ่มรับค่าการรวมกันของcolumns

In [24]:
df_house[:3]

   longitude  latitude  ...  median_house_value  all_rooms
0    -114.31     34.19  ...             66900.0     6895.0
1    -114.47     34.40  ...             80100.0     9551.0
2    -114.56     33.69  ...             85700.0      894.0

[3 rows x 10 columns]

In [27]:
df_house['pop_dense'] = df_house["population"]  /  df_house["households"]  #จะได้ผลหาร ทำเป็นcolumns ใหม่

In [28]:
df_house[['pop_dense',"population","population"]][:3]

    pop_dense  population  population
0  150.529661      1015.0      1015.0
1  170.691145      1129.0      1129.0
2  199.230769       333.0       333.0

In [33]:
df_house['house_price'] = df_house["median_house_value"] + (df_house["median_house_value"]  * 0.2) #เพิ่มราคา20%

In [34]:
df_house[["median_house_value" , 'house_price' ]].sample(3) #sample คือการสุ่มข้อมูลมา 3 ตัว

      median_house_value  house_price
272             198100.0     237720.0
303             119300.0     143160.0
8426            412500.0     495000.0

In [36]:
PATH_FILE_SAVE = "/content/sample_data/new_california_housing_train.csv"

In [37]:
df_house.to_csv(PATH_FILE_SAVE) #การเซฟไฟล์

#For loop

In [41]:
def loop1() :
      for i in range(11) : #for (i=0;i<11;i++)
            print(i)
loop1()

0
1
2
3
4
5
6
7
8
9
10

In [43]:
def loop2() :
      for i in range(1,11) : #เริ่มจาก1
            print(i)
loop2()

1
2
3
4
5
6
7
8
9
10

In [45]:
def loop3() :
      for i in range(1,11,2) : #เริ่มจาก1 บวกทีละ2
            print(i)
loop3()

1
3
5
7
9

In [49]:
def loop4() :
      for i in range(1,11,2) : #เริ่มจาก1
            print(i)
            print("----------")
      print("bye")    #จะรันคำสั่งจนครบในลูบแล้วเริ่ม i ตัวใหม่ไปเรื่อยๆ
loop4()

1
----------
3
----------
5
----------
7
----------
9
----------
bye

In [52]:
def loop_string() :  #การวนลูป string
      s = "over the ice"
      for c in s:
           print(c)
loop_string()

o
v
e
r

t
h
e

i
c
e