<a href="https://colab.research.google.com/github/bebeam2942/data_viz/blob/main/Pandas_101.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd

In [5]:
from google.colab import  drive
drive.mount('/content/drive')

Mounted at /content/drive

In [7]:
import os #เป็นการทำงานเกี่ยวดับไฟล์เอาไว้ชี้ไฟล์

path = '/content/drive/My Drive/dataviz_2021_data'

In [8]:
covid_file_path = os.path.join(path,'pm-18-jan-2021.csv')
print(covid_file_path)

/content/drive/My Drive/dataviz_2021_data/pm-18-jan-2021.csv

In [9]:
a = path + '/pm-18-jan-2021.csv'
print(a)

/content/drive/My Drive/dataviz_2021_data/pm-18-jan-2021.csv

## load data to memory

In [10]:
data_covid = pd.read_csv(covid_file_path)
data_covid

         No.  ...                                         risk
0          1  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
1          2  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
2          3  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
3          4  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
4          5  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
...      ...  ...                                          ...
12418  12419  ...                                  สถานบันเทิง
12419  12420  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12420  12421  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12421  12422  ...                  Cluster ชลบุรี โรงเบียร์ 90
12422  12423  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้

[12423 rows x 10 columns]

In [11]:
 data_covid.shape      #อยากรู้ขนาดของตาราง

(12423, 10)

## ชี้ค่าในตาราง

#### dasic

In [12]:
data_covid['province_of_onset']

0        กรุงเทพมหานคร
1        กรุงเทพมหานคร
2               นครปฐม
3        กรุงเทพมหานคร
4        กรุงเทพมหานคร
             ...
12418      สมุทรปราการ
12419      สมุทรปราการ
12420           ชลบุรี
12421           ชลบุรี
12422            ระยอง
Name: province_of_onset, Length: 12423, dtype: object

In [13]:
data_covid['province_of_onset'][4] ## ชี้ไปที่ข้อมูลแถวที่ 5

'กรุงเทพมหานคร'

#### .iloc

In [14]:
data_covid.iloc[4,7] #ชี้แถวที่4หลักที่7

'กรุงเทพมหานคร'

## Table slicing

#### ตัดมาเฉพาะ column ที่ต้องการ

In [15]:
smaller_table = data_covid[['announce_date','province_of_onset','risk']]
smaller_table

      announce_date  ...                                         risk
0         1/12/2020  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
1         1/17/2020  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
2         1/22/2020  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
3         1/22/2020  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
4         1/24/2020  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
...             ...  ...                                          ...
12418     1/18/2021  ...                                  สถานบันเทิง
12419     1/18/2021  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12420     1/18/2021  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12421     1/18/2021  ...                  Cluster ชลบุรี โรงเบียร์ 90
12422     1/18/2021  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้

[12423 rows x 3 columns]

### ตัดเฉพาะ rows ที่ต้องการ

##### แบบง่าย แต่ใช้การไม่ค่อยจะได้

In [16]:
data_covid.iloc[1:5,:]

   No. announce_date  ... district_of_onset                              risk
1    2     1/17/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
2    3     1/22/2020  ...             เมือง  คนต่างชาติเดินทางมาจากต่างประเทศ
3    4     1/22/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
4    5     1/24/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ

[4 rows x 10 columns]

แบบ advancd แต่ใช้ประโยชน์ได้เยอะกว่า (ตัดแบบใช้ logic guery)

In [36]:
data_covid_KK = data_covid[data_covid['province_of_onset']=='ขอนแก่น']

data_covid [x] ค่า x สามารถมีค่าที่ใส่เข้าไปได้ 2 แบบ



1.   ชื่อ column
2.   ใส่ rows ที่ต้องการ (ใส่ list ที่มีขนาดเท่ากับจำนวนแถว แล้วบอกว่าเอาแถวไหนบ้างโดยใช้ logical expression (True/False))

In [18]:
eigth_rows_covid = data_covid.iloc[:8,:] #ตารางตัวอย่าง
eigth_rows_covid

   No. announce_date  ... district_of_onset                              risk
0    1     1/12/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
1    2     1/17/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
2    3     1/22/2020  ...             เมือง  คนต่างชาติเดินทางมาจากต่างประเทศ
3    4     1/22/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
4    5     1/24/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
5    6     1/25/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
6    7     1/26/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
7    8     1/26/2020  ...            หัวหิน  คนต่างชาติเดินทางมาจากต่างประเทศ

[8 rows x 10 columns]

In [19]:
eigth_rows_covid [[True,False,True,True,False,True,False,False]] #2.   ใส่ rows ที่ต้องการ

   No. announce_date  ... district_of_onset                              risk
0    1     1/12/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
2    3     1/22/2020  ...             เมือง  คนต่างชาติเดินทางมาจากต่างประเทศ
3    4     1/22/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
5    6     1/25/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ

[4 rows x 10 columns]

In [21]:
eigth_rows_covid['province_of_onset'] == 'กรุงเทพมหานคร' #สร้าง list ของ logical expression ดูค่าที่ต้องการในหลักที่ต้องการ

0     True
1     True
2    False
3     True
4     True
5     True
6     True
7    False
Name: province_of_onset, dtype: bool

In [22]:
eigth_rows_covid[eigth_rows_covid['province_of_onset'] == 'กรุงเทพมหานคร' ] #เราเอา 2 บรรทัดบนมาบวกกัน

   No. announce_date  ... district_of_onset                              risk
0    1     1/12/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
1    2     1/17/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
3    4     1/22/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
4    5     1/24/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
5    6     1/25/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
6    7     1/26/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ

[6 rows x 10 columns]

HW (ให้ใช้เฉพาะที่อาจารย์สอนในวิชานี้)
1.  คำนวณ อายุเฉลี่ย ของผู้หญิง และผู้ชาย ของข้อมูลทั้งหมด
2.  คำนวณ อายุเฉลี่ย ของผู้หญิง และผู้ชาย ของผู้ป่วยในจังหวัดขอนแก่น

3. หาจำนวนผู้ป่วยที่เป็นคน 'คนต่างชาติเดินทางมาจากต่างประเทศ'

## 1. คำนวณ อายุเฉลี่ย ของผู้หญิง และผู้ชาย ของข้อมูลทั้งหมด

In [24]:
avg_all = data_covid[['sex','age']]

In [25]:
avg_all_w = avg_all[avg_all['sex'] == 'หญิง']
avg_all_w_age = avg_all_w[['age']]
avg_all_w_age_dp = avg_all_w_age.dropna()
avg_all_w_age_dp_v = avg_all_w_age_dp.values

In [26]:
avg_all_m = avg_all[avg_all['sex'] == 'ชาย']
avg_all_m_age = avg_all_m[['age']]
avg_all_m_age_dp = avg_all_m_age.dropna()
avg_all_m_age_dp_v = avg_all_m_age_dp.values

In [27]:
answerforwo_all = []
for i in avg_all_w_age_dp_v :
      data = float(i)
      answerforwo_all.append(data)

In [28]:
answerform_all = []
for i in avg_all_m_age_dp_v :
      data = float(i)
      answerform_all.append(data)

In [29]:
def my_mean(sample):
    return sum(sample) / len(sample)

In [30]:
ans1_1 = my_mean(answerforwo_all)
ans1_2 = my_mean(answerform_all)

In [32]:
print(f'อายุเฉลี่ยของเพศหญิงทั่วประเทศที่ติดCovid-19 เท่ากับ {ans1_1}')
print(f'อายุเฉลี่ยของเพศชายทั่วประเทศที่ติดCovid-19 เท่ากับ {ans1_2}')

อายุเฉลี่ยของเพศหญิงทั่วประเทศที่ติดCovid-19 เท่ากับ 36.70788295640009
อายุเฉลี่ยของเพศชายทั่วประเทศที่ติดCovid-19 เท่ากับ 39.55682775996335

## 2.คำนวณ อายุเฉลี่ยของผู้ป่วยในจังหวัดขอนแก่น

In [38]:
avg_KK = data_covid_KK[['sex','age']]

In [39]:
avg_KK_w = avg_KK[avg_KK['sex'] == 'หญิง']
avg_KK_w_age = avg_KK_w[['age']]
avg_KK_w_v = avg_KK_w_age.values

In [41]:
avg_KK_m = avg_KK[avg_KK['sex'] == 'ชาย']
avg_KK_m_age = avg_KK_m[['age']]
avg_KK_m_v = avg_KK_m_age.values

In [43]:
answerfor_wo = []
for i in avg_KK_w_v:
      data = float(i)
      answerfor_wo.append(data)

In [44]:
answerfor_men = []
for i in avg_KK_m_v:
      data = float(i)
      answerfor_men.append(data)

In [45]:
ans2_1 = my_mean(answerfor_wo)
ans2_2 = my_mean(answerfor_men)

In [47]:
print(f'อายุเฉลี่ยของเพศหญิงจังหวัดขอนแก่นที่ติดCovid-19 เท่ากับ {ans2_1}')
print(f'อายุเฉลี่ยของเพศชายจังหวัดขอนแก่นที่ติดCovid-19 เท่ากับ {ans2_2}')

อายุเฉลี่ยของเพศหญิงจังหวัดขอนแก่นที่ติดCovid-19 เท่ากับ 41.57142857142857
อายุเฉลี่ยของเพศชายจังหวัดขอนแก่นที่ติดCovid-19 เท่ากับ 26.571428571428573