<a href="https://colab.research.google.com/github/bebeam2942/data_viz/blob/main/Quiz5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### เปรียบเทียบผลรวม ```alpha``` และ ``` bata ``` ของข้อมูล ก่อนและตั้งแต่วันที่ 2 มิถุนายน 2020

In [1]:
import pandas as pd
import os
from datetime import date,datetime

In [35]:
Ex = pd.read_csv('/content/drive/MyDrive/dataviz_2021_data/example_timestamp.csv')
Ex

   Unnamed: 0  alpha  beta
0  2020-05-29   8.78    24
1  2020-05-30  13.00    25
2  2020-05-31   0.44    25
3  2020-06-01   1.94    28
4  2020-06-02   5.40    20
5  2020-06-03   5.68    21
6  2020-06-04   2.64    16

In [37]:
Ex.iloc[0,0]

'2020-05-29'

In [46]:
this_before = Ex[Ex['Unnamed: 0']< '2020-06-02']
this_before.sum()

Unnamed: 0    2020-05-292020-05-302020-05-312020-06-01
alpha                                            24.16
beta                                               102
dtype: object

In [47]:
this_after = Ex[Ex['Unnamed: 0'] >= '2020-06-02']
this_after.sum()

Unnamed: 0    2020-06-022020-06-032020-06-04
alpha                                  13.72
beta                                      57
dtype: object

## จากไฟล์ Search_cliks.csv
### เปรียบเทียบเวลาเฉลี่ยที่ใช้ในการกดเลือกร้าน ```time_diff_nanos```ระหว่างช่วงเวลา
### 10.00-10.59 กับ 23.00-23.59 ว่าช่วงเวลาไหนมี ```time_diff_nanos``` น้อยกว่ากัน

In [10]:
Q5 = pd.read_csv('/content/drive/MyDrive/dataviz_2021_data/search_click.csv')   
Q5.head()

  click_timestamp                             search_id  ...  time_diff_nanos   ads
0         11:38.9  5c004472-5ecc-4159-9698-9f329b8e26e1  ...     2.222400e+15  True
1         30:51.3  5f34eca0-c04e-4c10-b600-54aa447dbd8e  ...     4.608380e+14  True
2         32:09.6  8dc6d1f0-11f1-4239-9dd2-5c1674c81224  ...     2.581490e+15  True
3         00:59.8  1a5810e9-3d1f-44b9-9a2e-26ede21c524b  ...     1.404580e+15  True
4         23:36.8  6bc75e0d-fc65-471e-9926-ff6be6708639  ...     9.333590e+14  True

[5 rows x 6 columns]

In [11]:
len(Q5)

1048575

In [21]:
Q5.columns = [i.strftime('%H:%M:%S') if isinstance(i, datetime) else i for i in Q5.columns]
Q5.columns

Index(['click_timestamp', 'search_id', 'business_id', 'display_position',
       'time_diff_nanos', 'ads'],
      dtype='object')

In [24]:
string_datetime = '10:00:0'

In [29]:
import time
timeis = time.localtime()
a  = time.strftime('%H:%M:%S', timeis)
print(a)

02:13:21

In [34]:
time.struct_time(H=00,M=53,S=0)

TypeError: ignored