<a href="https://colab.research.google.com/github/bebeam2942/data_viz/blob/main/Quiz6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [19]:
import pandas as pd
import os
from datetime import date,datetime
import io

In [4]:
Q6 = pd.read_csv('/content/drive/MyDrive/dataviz_2021_data/search_request.csv')
Q6

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (7,8,9) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

          Unnamed: 0                             search_id  ...      lat     long
0                  0  683de889-f923-494e-9d46-44a3d67b7259  ...  12.6347  101.463
1                  1  4a811230-ffa4-4631-a4c8-5d0394137d02  ...  14.8009  102.534
2                  2  7ad6ee8e-438e-4bea-9183-74dcef9e358e  ...  13.7383  100.371
3                  3  0c17a5f5-fa89-40f4-ae94-a8659268f827  ...  12.6669  101.861
4                  4  6870dc3a-5602-44fc-80ed-df0a7783df9d  ...  12.2372    99.88
...              ...                                   ...  ...      ...      ...
10004352    10005225  5d8c10aa-63cf-4bdd-ab01-0af17a98781f  ...      NaN      NaN
10004353    10005226  66cc94db-217a-4d8e-aa20-b1d10e17c968  ...      NaN      NaN
10004354    10005227  4eb3b514-fb71-4dfe-a580-c560e8c9dcc7  ...      NaN      NaN
10004355    10005228  f5554532-2eb1-4ba6-a98e-1e10b2174d2c  ...      NaN      NaN
10004356    10005229  48421ba4-8c69-46a5-aa05-425ddc82a09a  ...      NaN      NaN

[10004357 rows x 10 columns]

In [5]:
Q6.iloc[0,2]

'2018-06-14 12:34:35.449'

In [6]:
Q6.dropna(inplace=True)

In [8]:
Q6.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 253276 entries, 8 to 9723495
Data columns (total 10 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Unnamed: 0        253276 non-null  int64
 1   search_id         253276 non-null  object
 2   search_timestamp  253276 non-null  object
 3   user_agent        253276 non-null  object
 4   q                 253276 non-null  object
 5   user_id           253276 non-null  float64
 6   session_id        253276 non-null  object
 7   number_of_result  253276 non-null  object
 8   lat               253276 non-null  object
 9   long              253276 non-null  object
dtypes: float64(1), int64(1), object(8)
memory usage: 21.3+ MB

In [17]:
type(Q6['search_timestamp'])

pandas.core.series.Series

In [23]:
Q6['search_timestamp']= pd.to_datetime(Q6['search_timestamp'],dayfirst=True,errors ='coerce')
Q6

         Unnamed: 0                             search_id  ...      lat     long
8                 8  02fedb5c-c9cd-46d7-9354-7613ecb7cfdd  ...  13.7209  100.527
9                 9  e215d487-0450-4794-830a-ecfc0ab6493b  ...  13.7208  100.527
10               10  3a69e702-e54b-497c-9b8f-c3991d4c02ff  ...  13.7209  100.527
11               11  03cb2585-738e-4000-afed-e976d123a145  ...  13.7211  100.527
12               12  4974a821-2bc0-4efe-9e2d-d602669dc283  ...  13.7208  100.527
...             ...                                   ...  ...      ...      ...
9722181     9723011  94ec6724-2edf-4e80-a120-af857aa7dbd3  ...  12.9416  100.921
9722420     9723250  819915c4-e398-47ff-836b-37e9b814dc7c  ...   13.878  100.413
9723069     9723900  83cf5597-8554-4d45-aaa4-213f30cd409a  ...  13.7344  100.527
9723327     9724159  a558c025-0279-419e-8e76-dbaee81ea1c5  ...  14.0701  100.595
9723495     9724327  0c71ab76-cc2d-41c4-8cca-7654ead40c51  ...  13.7633  100.536

[253276 rows x 10 columns]

In [26]:
Q6["search_timestamp"] = pd.to_datetime(Q6["search_timestamp"])
Q6

         Unnamed: 0                             search_id  ...      lat     long
8                 8  02fedb5c-c9cd-46d7-9354-7613ecb7cfdd  ...  13.7209  100.527
9                 9  e215d487-0450-4794-830a-ecfc0ab6493b  ...  13.7208  100.527
10               10  3a69e702-e54b-497c-9b8f-c3991d4c02ff  ...  13.7209  100.527
11               11  03cb2585-738e-4000-afed-e976d123a145  ...  13.7211  100.527
12               12  4974a821-2bc0-4efe-9e2d-d602669dc283  ...  13.7208  100.527
...             ...                                   ...  ...      ...      ...
9722181     9723011  94ec6724-2edf-4e80-a120-af857aa7dbd3  ...  12.9416  100.921
9722420     9723250  819915c4-e398-47ff-836b-37e9b814dc7c  ...   13.878  100.413
9723069     9723900  83cf5597-8554-4d45-aaa4-213f30cd409a  ...  13.7344  100.527
9723327     9724159  a558c025-0279-419e-8e76-dbaee81ea1c5  ...  14.0701  100.595
9723495     9724327  0c71ab76-cc2d-41c4-8cca-7654ead40c51  ...  13.7633  100.536

[253276 rows x 10 columns]

In [28]:
Q6.iloc[0,2]

Timestamp('2018-06-22 12:22:17.031000')

In [30]:
A = Q6[Q6['search_timestamp']<datetime(day=2,month=6,year=2018)].sum()
print(A)

Unnamed: 0                                          35473877520
search_id     4c190356-6433-43fd-89a4-bef1ec1a2c4626a3ee51-f...
user_agent    Wongnai/8.17.1 (iPhone9,4; iOS; 11.3.1; th_TH;...
q             ทิพย์โอชาดินดำเซ็นทรัลพระราม9the bellbellร้านก...
user_id                                             6.61971e+08
session_id    3l3tjtc4ud81cq2b48u4atpvj0d5fkm86c2851ocu4godp...
dtype: object