<a href="https://colab.research.google.com/github/bebeam2942/data_viz/blob/main/Quiz6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import os
from datetime import date,datetime
import io

In [15]:
Q6 = pd.read_csv('/content/drive/MyDrive/dataviz_2021_data/search_request.csv')
Q6.head()

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (7,8,9) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

   Unnamed: 0                             search_id  ...      lat     long
0           0  683de889-f923-494e-9d46-44a3d67b7259  ...  12.6347  101.463
1           1  4a811230-ffa4-4631-a4c8-5d0394137d02  ...  14.8009  102.534
2           2  7ad6ee8e-438e-4bea-9183-74dcef9e358e  ...  13.7383  100.371
3           3  0c17a5f5-fa89-40f4-ae94-a8659268f827  ...  12.6669  101.861
4           4  6870dc3a-5602-44fc-80ed-df0a7783df9d  ...  12.2372    99.88

[5 rows x 10 columns]

In [16]:
Q6.iloc[0,2]

'2018-06-14 12:34:35.449'

In [17]:
Q6.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10004357 entries, 0 to 10004356
Data columns (total 10 columns):
 #   Column            Dtype
---  ------            -----
 0   Unnamed: 0        int64
 1   search_id         object
 2   search_timestamp  object
 3   user_agent        object
 4   q                 object
 5   user_id           float64
 6   session_id        object
 7   number_of_result  object
 8   lat               object
 9   long              object
dtypes: float64(1), int64(1), object(8)
memory usage: 763.3+ MB

In [18]:
type(Q6['search_timestamp'])

pandas.core.series.Series

In [23]:
Q6['search_timestamp']= pd.to_datetime(Q6['search_timestamp'],dayfirst=True,errors ='coerce')
Q6

          Unnamed: 0                             search_id  ...      lat     long
0                  0  683de889-f923-494e-9d46-44a3d67b7259  ...  12.6347  101.463
1                  1  4a811230-ffa4-4631-a4c8-5d0394137d02  ...  14.8009  102.534
2                  2  7ad6ee8e-438e-4bea-9183-74dcef9e358e  ...  13.7383  100.371
3                  3  0c17a5f5-fa89-40f4-ae94-a8659268f827  ...  12.6669  101.861
4                  4  6870dc3a-5602-44fc-80ed-df0a7783df9d  ...  12.2372    99.88
...              ...                                   ...  ...      ...      ...
10004352    10005225  5d8c10aa-63cf-4bdd-ab01-0af17a98781f  ...      NaN      NaN
10004353    10005226  66cc94db-217a-4d8e-aa20-b1d10e17c968  ...      NaN      NaN
10004354    10005227  4eb3b514-fb71-4dfe-a580-c560e8c9dcc7  ...      NaN      NaN
10004355    10005228  f5554532-2eb1-4ba6-a98e-1e10b2174d2c  ...      NaN      NaN
10004356    10005229  48421ba4-8c69-46a5-aa05-425ddc82a09a  ...      NaN      NaN

[10004357 rows x 10 columns]

In [20]:
Q6["search_timestamp"] = pd.to_datetime(Q6["search_timestamp"])
Q6

          Unnamed: 0                             search_id  ...      lat     long
0                  0  683de889-f923-494e-9d46-44a3d67b7259  ...  12.6347  101.463
1                  1  4a811230-ffa4-4631-a4c8-5d0394137d02  ...  14.8009  102.534
2                  2  7ad6ee8e-438e-4bea-9183-74dcef9e358e  ...  13.7383  100.371
3                  3  0c17a5f5-fa89-40f4-ae94-a8659268f827  ...  12.6669  101.861
4                  4  6870dc3a-5602-44fc-80ed-df0a7783df9d  ...  12.2372    99.88
...              ...                                   ...  ...      ...      ...
10004352    10005225  5d8c10aa-63cf-4bdd-ab01-0af17a98781f  ...      NaN      NaN
10004353    10005226  66cc94db-217a-4d8e-aa20-b1d10e17c968  ...      NaN      NaN
10004354    10005227  4eb3b514-fb71-4dfe-a580-c560e8c9dcc7  ...      NaN      NaN
10004355    10005228  f5554532-2eb1-4ba6-a98e-1e10b2174d2c  ...      NaN      NaN
10004356    10005229  48421ba4-8c69-46a5-aa05-425ddc82a09a  ...      NaN      NaN

[10004357 rows x 10 columns]

In [29]:
top_table = Q6.iloc[:10,:]
top_table

   Unnamed: 0                             search_id  ...      lat     long
0           0  683de889-f923-494e-9d46-44a3d67b7259  ...  12.6347  101.463
1           1  4a811230-ffa4-4631-a4c8-5d0394137d02  ...  14.8009  102.534
2           2  7ad6ee8e-438e-4bea-9183-74dcef9e358e  ...  13.7383  100.371
3           3  0c17a5f5-fa89-40f4-ae94-a8659268f827  ...  12.6669  101.861
4           4  6870dc3a-5602-44fc-80ed-df0a7783df9d  ...  12.2372    99.88
5           5  4c048ac7-9fc7-49e8-9ee4-20ff755b939d  ...  12.8531  101.109
6           6  3ecf13ba-be4d-4eb9-9374-a1cca09d1614  ...  12.4511  102.249
7           7  a7e6b7c5-3d3c-4337-8337-d29c5346b686  ...  13.6409  100.433
8           8  02fedb5c-c9cd-46d7-9354-7613ecb7cfdd  ...  13.7209  100.527
9           9  e215d487-0450-4794-830a-ecfc0ab6493b  ...  13.7208  100.527

[10 rows x 10 columns]

   Unnamed: 0                             search_id  ...      lat     long
0           0  683de889-f923-494e-9d46-44a3d67b7259  ...  12.6347  101.463
1           1  4a811230-ffa4-4631-a4c8-5d0394137d02  ...  14.8009  102.534
2           2  7ad6ee8e-438e-4bea-9183-74dcef9e358e  ...  13.7383  100.371
3           3  0c17a5f5-fa89-40f4-ae94-a8659268f827  ...  12.6669  101.861
4           4  6870dc3a-5602-44fc-80ed-df0a7783df9d  ...  12.2372    99.88
5           5  4c048ac7-9fc7-49e8-9ee4-20ff755b939d  ...  12.8531  101.109
6           6  3ecf13ba-be4d-4eb9-9374-a1cca09d1614  ...  12.4511  102.249
7           7  a7e6b7c5-3d3c-4337-8337-d29c5346b686  ...  13.6409  100.433
8           8  02fedb5c-c9cd-46d7-9354-7613ecb7cfdd  ...  13.7209  100.527
9           9  e215d487-0450-4794-830a-ecfc0ab6493b  ...  13.7208  100.527

[10 rows x 10 columns]

In [30]:
top_table[top_table['search_timestamp'].dt.dayofweek == 3] #ดึงเฉพาะวันพฤหัส

   Unnamed: 0                             search_id  ...      lat     long
0           0  683de889-f923-494e-9d46-44a3d67b7259  ...  12.6347  101.463
1           1  4a811230-ffa4-4631-a4c8-5d0394137d02  ...  14.8009  102.534
2           2  7ad6ee8e-438e-4bea-9183-74dcef9e358e  ...  13.7383  100.371

[3 rows x 10 columns]

# เปรียบเทียบจำนวน requests ของช่วงเวลา 11.00-11.59 กับ 23.00-23.59
# เปรียบเทียบจำนวน requests ของวันจันทร์-พฤหัส กับ ศุกร์-อาทิตย์

In [32]:
Q6[Q6['search_timestamp'].dt.dayofweek <= 3] #วันจันทร์-พฤหัส

          Unnamed: 0                             search_id  ...      lat     long
0                  0  683de889-f923-494e-9d46-44a3d67b7259  ...  12.6347  101.463
1                  1  4a811230-ffa4-4631-a4c8-5d0394137d02  ...  14.8009  102.534
2                  2  7ad6ee8e-438e-4bea-9183-74dcef9e358e  ...  13.7383  100.371
19                19  5a68d9e6-3173-4e5c-9087-983c012d7a6d  ...  13.2972  100.954
20                20  2807eb47-4bc4-445d-abae-0bb0d44867dd  ...  8.18816  98.2881
...              ...                                   ...  ...      ...      ...
10004284    10005157  94c27eb4-6909-4511-a560-cfd1425a6cbb  ...      NaN      NaN
10004285    10005158  26130c30-c529-48bf-8430-a26e28afbcfd  ...      NaN      NaN
10004291    10005164  fb2135ee-2eb0-4654-b0f6-d33a91b03706  ...      NaN      NaN
10004292    10005165  bcadf6f0-3b33-460c-bc77-1878662aee1e  ...      NaN      NaN
10004293    10005166  e2e659fb-26d7-47aa-b620-9001059e860b  ...      NaN      NaN

[4220697 rows x 10 columns]

In [33]:
Q6[Q6['search_timestamp'].dt.dayofweek >= 4] #ศุกร์-อาทิตย์

          Unnamed: 0                             search_id  ...      lat     long
3                  3  0c17a5f5-fa89-40f4-ae94-a8659268f827  ...  12.6669  101.861
4                  4  6870dc3a-5602-44fc-80ed-df0a7783df9d  ...  12.2372    99.88
5                  5  4c048ac7-9fc7-49e8-9ee4-20ff755b939d  ...  12.8531  101.109
6                  6  3ecf13ba-be4d-4eb9-9374-a1cca09d1614  ...  12.4511  102.249
7                  7  a7e6b7c5-3d3c-4337-8337-d29c5346b686  ...  13.6409  100.433
...              ...                                   ...  ...      ...      ...
10004352    10005225  5d8c10aa-63cf-4bdd-ab01-0af17a98781f  ...      NaN      NaN
10004353    10005226  66cc94db-217a-4d8e-aa20-b1d10e17c968  ...      NaN      NaN
10004354    10005227  4eb3b514-fb71-4dfe-a580-c560e8c9dcc7  ...      NaN      NaN
10004355    10005228  f5554532-2eb1-4ba6-a98e-1e10b2174d2c  ...      NaN      NaN
10004356    10005229  48421ba4-8c69-46a5-aa05-425ddc82a09a  ...      NaN      NaN

[5783659 rows x 10 columns]