<a href="https://colab.research.google.com/github/bebeam2942/data_viz/blob/main/Quiz5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### เปรียบเทียบผลรวม ```alpha``` และ ``` bata ``` ของข้อมูล ก่อนและตั้งแต่วันที่ 2 มิถุนายน 2020

In [1]:
import pandas as pd
import os
from datetime import date,datetime

In [2]:
Ex = pd.read_csv('/content/drive/MyDrive/dataviz_2021_data/example_timestamp.csv')
Ex

   Unnamed: 0  alpha  beta
0  2020-05-29   8.78    24
1  2020-05-30  13.00    25
2  2020-05-31   0.44    25
3  2020-06-01   1.94    28
4  2020-06-02   5.40    20
5  2020-06-03   5.68    21
6  2020-06-04   2.64    16

In [3]:
Ex.iloc[0,0]  #ilocดูแล้วเห็นได้ว่ามันเป็นstr ต้องใช้datetime

'2020-05-29'

In [4]:
this_before = Ex[Ex['Unnamed: 0']< '2020-06-02']
this_before.sum()

Unnamed: 0    2020-05-292020-05-302020-05-312020-06-01
alpha                                            24.16
beta                                               102
dtype: object

In [5]:
this_after = Ex[Ex['Unnamed: 0'] >= '2020-06-02']
this_after.sum()

Unnamed: 0    2020-06-022020-06-032020-06-04
alpha                                  13.72
beta                                      57
dtype: object

## Example 02
1. เปลี่ยน string ให้เป็น detetime

In [6]:
Ex2 = pd.read_csv('/content/drive/MyDrive/dataviz_2021_data/example_timestamp_02.csv')
Ex2

   Unnamed: 0  alpha  beta
0  29-05-2020   8.78    24
1  30-05-2020  13.00    25
2  31-05-2020   0.44    25
3  01-06-2020   1.94    28
4  02-06-2020   5.40    20
5  03-06-2020   5.68    21
6  03-06-2020   2.64    16

In [14]:
Ex2.iloc[0,0]  #ilocดูแล้วเห็นได้ว่ามันเป็นstr ต้องใช้datetime

'29-05-2020'

In [16]:
Ex2['Unnamed: 0'] = pd.to_datetime(Ex2['Unnamed: 0'], format='%d-%m-%Y') #เปลี่ยนคอลัม unname ให้เป็น time
Ex2

  Unnamed: 0  alpha  beta
0 2020-05-29   8.78    24
1 2020-05-30  13.00    25
2 2020-05-31   0.44    25
3 2020-06-01   1.94    28
4 2020-06-02   5.40    20
5 2020-06-03   5.68    21
6 2020-06-03   2.64    16

In [17]:
Ex2.iloc[0,0]

Timestamp('2020-05-29 00:00:00')

In [18]:
A = Ex2[Ex2['Unnamed: 0']<datetime(day=2,month=6,year=2020)].sum()
print(A)

alpha     24.16
beta     102.00
dtype: float64

In [19]:
A['alpha']

24.160000000000004

In [21]:
Ex2[Ex2['Unnamed: 0']>=datetime(day=2,month=6,year=2020)].sum()

alpha    13.72
beta     57.00
dtype: float64

In [22]:
print(f"ผลรวมของค่า alpha ก่อนวันที่ 2 มิ.ย. 2020 คือ {A['alpha']:.2f}") #.2fคือทศนิยม2ตัว

ผลรวมของค่า alpha ก่อนวันที่ 2 มิ.ย. 2020 คือ 24.16

## จากไฟล์ Search_cliks.csv
### เปรียบเทียบเวลาเฉลี่ยที่ใช้ในการกดเลือกร้าน ```time_diff_nanos```ระหว่างช่วงเวลา
### 10.00-10.59 กับ 23.00-23.59 ว่าช่วงเวลาไหนมี ```time_diff_nanos``` น้อยกว่ากัน

In [8]:
Q5 = pd.read_csv('/content/drive/MyDrive/dataviz_2021_data/search_click.csv')   
Q5.head()

  click_timestamp                             search_id  ...  time_diff_nanos   ads
0         11:38.9  5c004472-5ecc-4159-9698-9f329b8e26e1  ...     2.222400e+15  True
1         30:51.3  5f34eca0-c04e-4c10-b600-54aa447dbd8e  ...     4.608380e+14  True
2         32:09.6  8dc6d1f0-11f1-4239-9dd2-5c1674c81224  ...     2.581490e+15  True
3         00:59.8  1a5810e9-3d1f-44b9-9a2e-26ede21c524b  ...     1.404580e+15  True
4         23:36.8  6bc75e0d-fc65-471e-9926-ff6be6708639  ...     9.333590e+14  True

[5 rows x 6 columns]

In [9]:
len(Q5)

1048575