<a href="https://colab.research.google.com/github/bebeam2942/data_viz/blob/main/Visualize_Data_Comparison.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [6]:
data = pd.read_csv('/content/drive/MyDrive/dataviz_2021_data/search_request.csv')
data

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (7,8,9) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

          Unnamed: 0                             search_id  ...      lat     long
0                  0  683de889-f923-494e-9d46-44a3d67b7259  ...  12.6347  101.463
1                  1  4a811230-ffa4-4631-a4c8-5d0394137d02  ...  14.8009  102.534
2                  2  7ad6ee8e-438e-4bea-9183-74dcef9e358e  ...  13.7383  100.371
3                  3  0c17a5f5-fa89-40f4-ae94-a8659268f827  ...  12.6669  101.861
4                  4  6870dc3a-5602-44fc-80ed-df0a7783df9d  ...  12.2372    99.88
...              ...                                   ...  ...      ...      ...
10004352    10005225  5d8c10aa-63cf-4bdd-ab01-0af17a98781f  ...      NaN      NaN
10004353    10005226  66cc94db-217a-4d8e-aa20-b1d10e17c968  ...      NaN      NaN
10004354    10005227  4eb3b514-fb71-4dfe-a580-c560e8c9dcc7  ...      NaN      NaN
10004355    10005228  f5554532-2eb1-4ba6-a98e-1e10b2174d2c  ...      NaN      NaN
10004356    10005229  48421ba4-8c69-46a5-aa05-425ddc82a09a  ...      NaN      NaN

[10004357 rows x 10 columns]

## เตรียมข้อมูล

#### แปลงข้อมูลบอกเวลาให้เป็นตัวแปรชนิด datetime

In [7]:
data['search_timestamp']= pd.to_datetime(data['search_timestamp'],dayfirst=True,errors ='coerce')
data

          Unnamed: 0                             search_id  ...      lat     long
0                  0  683de889-f923-494e-9d46-44a3d67b7259  ...  12.6347  101.463
1                  1  4a811230-ffa4-4631-a4c8-5d0394137d02  ...  14.8009  102.534
2                  2  7ad6ee8e-438e-4bea-9183-74dcef9e358e  ...  13.7383  100.371
3                  3  0c17a5f5-fa89-40f4-ae94-a8659268f827  ...  12.6669  101.861
4                  4  6870dc3a-5602-44fc-80ed-df0a7783df9d  ...  12.2372    99.88
...              ...                                   ...  ...      ...      ...
10004352    10005225  5d8c10aa-63cf-4bdd-ab01-0af17a98781f  ...      NaN      NaN
10004353    10005226  66cc94db-217a-4d8e-aa20-b1d10e17c968  ...      NaN      NaN
10004354    10005227  4eb3b514-fb71-4dfe-a580-c560e8c9dcc7  ...      NaN      NaN
10004355    10005228  f5554532-2eb1-4ba6-a98e-1e10b2174d2c  ...      NaN      NaN
10004356    10005229  48421ba4-8c69-46a5-aa05-425ddc82a09a  ...      NaN      NaN

[10004357 rows x 10 columns]

## Bar char (กราฟแท่ง)

### สร้างกราฟแท่งเปรียบเทียบปริมาณ คนเข้าใช้ wed Wongnai.com เพื่อค้นหาร้านอาหารในแต่ละวัน

In [9]:
from matplotlib import pyplot as plt

In [13]:
plt.bar([1,2,3,4,5,6,7],data[data['search_timestamp']].dt.dayofweek = 0)

SyntaxError: ignored

In [16]:
data['WEEKDAY'] = pd.to_datetime(data['search_timestamp']).dt.dayofweek
firstday = data.iloc[0]['WEEKDAY']  # monday = 0
                if  firstday == 0:
                    color_x = [COLOR_weekday, COLOR_weekday, COLOR_weekday, COLOR_weekday, COLOR_weekday, COLOR_weekend, COLOR_weekend]
                elif firstday == 1:
                    color_x = [COLOR_weekday, COLOR_weekday, COLOR_weekday, COLOR_weekday, COLOR_weekend, COLOR_weekend, COLOR_weekday]
               (etc)

IndentationError: ignored